<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Email de récupération du mot de passe </title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>

<body style="margin: 0; padding: 0">
    <div style="padding: 20px; background-color: #ffffff">
        <h1 style="text-align: center;">Demande de réinitialisation du mot de passe</h1>
        <p>Bonjour ${name},</p>
        <p>Un nouveau mot de passe a été demandé pour votre compte ${email}.</p>
        <p>Contactez l'assistance immédiatement, si vous n'êtes pas à l'origine de cette demande.</p>
        <p>Cliquez sur le bouton pour terminer la procédure.</p>
        <p>
            <a href=${url} style="text-decoration: none;padding:9px 32px 7px 31px;text-align:center;color:#fff;border-radius:5px;background-color:#00bceb;border: 1px solid #00bceb;">
                <span >Réinitialiser le mot de passe</span>
            </a>
        </p>
        <p>
            <span style="color: #bebebe; font-size: 16px; margin-top:5px">Expire dans une heure</span>
        </p>
</div>
</body>
</html>
